body {
	font-family: 'Playfair Display', serif;
}

.about-me {
	background-color: #0891b2;
}

.container {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.image {
	position: relative;
}

.image h1 {
	position: absolute;
	bottom: 0%;
	left: 50%;
}

.image img {
	width: 500px;
	margin-left: 100px;
}

.about-me-text {
	font-size: 24px;
	background-color: white;
	border-radius: 8px;
	margin-right: 100px;
	padding: 20px;
	box-shadow: 10px 10px 5px lightblue;
}

.social-icons {
	display: flex;
	justify-content: end;
	gap: 10px;
	margin-right: 20px;
}

@media screen and (max-width: 1024px) {
	.container {
		grid-template-columns: 1fr;
		gap: 0px;
	}

	.image img {
		width: 400px;
		margin-left: 0px;
	}

	.about-me-text {
		margin-right: 0px;
	}

	.image h1 {
		left: 5%;
	}
}
